<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=fesastg;AccountKey=iyZcCGBQAyMXUk1v5n15+PSCHj4ok/nDjUY3AQRnV7ZH3KcibrykOQ5iIge9jcVrIVJawVKbHhgcguwyCealOA==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=fesastg;AccountKey=iyZcCGBQAyMXUk1v5n15+PSCHj4ok/nDjUY3AQRnV7ZH3KcibrykOQ5iIge9jcVrIVJawVKbHhgcguwyCealOA==" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="http" maxBufferPoolSize="4294965097" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://extranet.ferreyros.com.pe/aptest/ws_tecnicosad/ConsultaAD.svc" binding="wsHttpBinding" bindingConfiguration="http" contract="ConsultaUsuarios.IConsultaAD" name="http" behaviorConfiguration="wsBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="wsBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>

